{%extends 'main/base.html' %}

{% block title %}
Наша история
{% endblock %}

{% block content %}
    <h1>История</h1>
    <p>1 сентября 1929 года в г. Вольске при цементном заводе «Большевик» открылся Силикатный техникум, на первый курс которого было принято 23 студента по специальности «Механическое оборудование цементных заводов». Первым директором техникума стал рабочий И. С. Рукоделов. Вся учебная работа проходила в двух химических лабораториях и трех кабинетах — физики, черчения и военном кабинете.
        1 сентября 1930 года в техникуме открываются специальности «Теплотехника цементного производства» и «Технология цементного производства». В 1936 году техникум переименовывается в Химический. Его первые выпускники Т. И. Майорова, Н. Г. Савельев, В. Н. Потрясов, П. Е. Жаворонков — известные специалисты на цементных заводах страны.        
        После окончания Великой отечественной войны начинается второе рождение учебного заведения. В него стали поступать оборудование, приборы, наглядные пособия. Формировались новые лаборатории и кабинеты. Весной 1958 года было завершено строительство нового здания техникума. Реконструкция цементных заводов страны требовала увеличения числа профильных специальностей.        
        B 1963 году открывается специальность «Электротехническое оборудование промышленных предприятий и установок», а 1966 году — «Планирование производства строительных материалов».        
        В 70-е годы в учебный процесс внедряются электронно-вычислительная техника, технические средства обучения, активизируется работа по техническому творчеству студентов. Лучшие работы экспонируются с большим успехом на ВДНХ и на областных смотрах-конкурсах научно-технического творчества молодежи. Из-за растущего спроса на специальности техникума открываются его филиалы в Саратове и Ульяновске.        
        B 1979 году введен в строй новый учебно-лабораторный корпус. В этом большая заслуга бывшего директора техникума Максимова Н. Н. — заслуженного учителя РФ. В 1982 году сдается в эксплуатацию спортивный комплекс. Большой вклад в развитие техникума внесли его директора: Любимов Андрей Михайлович, Максимов Николай Николаевич, Орешкин Юрий Павлович и другие.        
        Развитие рыночной экономики в 90-е годы потребовало подготовки бухгалтеров и юристов — открываются специальности «Экономика, бухгалтерский учет и контроль» и «Правоведение».        
        С 1 сентября 1999 года техникум стал Вольским филиалом Всероссийского государственного колледжа строительства мостов и гидротехнических сооружений.        
        В 2012 году учебное заведение вновь получает самостоятельность и именуется «Вольский технологический колледж», в этом же году открывается новая специальность «Программирование в компьютерных системах».</p>
{% endblock %}
